1 referenceNames
//t60PUbuntu/test/TestProvider:Test_CLITestProviderLinkClass
path= //t60PUbuntu/test/TestProvider:Test_CLITestProviderLinkClass.child="//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\"",parent="//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\""

//Instance of Test_CLITestProviderLinkClass
instance of Test_CLITestProviderLinkClass
{
parent = "//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\"";
child = "//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\"";
requestInputParameters = "role=; resultClass=Test_CLITestProviderLinkClass; "
    "includeQualifiers=true; includeClassOrigin=false; propertyList=NULL";
};
path= //t60PUbuntu/test/TestProvider:Test_CLITestProviderLinkClass.child="//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\"",parent="//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\""

//Instance of Test_CLITestProviderLinkClass
instance of Test_CLITestProviderLinkClass
{
parent = "//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\"";
child = "//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\"";
requestInputParameters = "role=parent; resultClass=Test_CLITestProviderLinkClass; "
    "includeQualifiers=true; includeClassOrigin=false; propertyList=NULL";
};
1 referenceNames
//t60PUbuntu/test/TestProvider:Test_CLITestProviderLinkClass.child="//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\"",parent="//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\""
path= //t60PUbuntu/test/TestProvider:Test_CLITestProviderLinkClass.child="//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\"",parent="//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id=\"Mike\""

//Instance of Test_CLITestProviderLinkClass
instance of Test_CLITestProviderLinkClass
{
requestInputParameters = "role=child; resultClass=Test_CLITestProviderLinkClass; "
    "includeQualifiers=true; includeClassOrigin=false; propertyList=requestInputParameters";
};
1 associator names
//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass
path= //t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id="Mike"

//Instance of Test_CLITestProviderClass
    [Version ("2.5.0") : Restricted, Translatable]
instance of Test_CLITestProviderClass
{
    [key : DisableOverride]
Id = "Mike";
Name = "Bob";
scalBool = TRUE;
scalUint8 = 220;
scalSint8 = 124;
scalUint16 = 100;
scalSint16 = 100;
scalUint32 = 100;
scalSint32 = 100;
scalUint64 = 100;
scalSint64 = NULL;
scalReal32 = 1.0000000000000000e+02;
scalReal64 = 1.0000000000000000e+02;
scalString = "teststring";
scalDateTime = "19991224120000.000000+360";
defaultBool = TRUE;
defaultUint8 = 4;
defaultSint8 = 4;
defaultUint16 = 4;
defaultSint16 = 4;
defaultUint32 = 4;
defaultSint32 = 4;
defaultUint64 = 4;
defaultSint64 = 4;
defaultReal32 = NULL;
defaultReal64 = NULL;
defaultString = "test\"embedded\"quote";
defaultDateTime = NULL;
arrayBool = {TRUE, FALSE, TRUE};
arrayUint8 = {4, 128, 240};
arraySint8 = {4, 126, -126};
arrayUint16 = {4, 128, 240};
arraySint16 = {4, 126, -126};
arrayUint32 = {4, 128, 240};
arraySint32 = {4, 126, -126};
arrayUint64 = {4, 128, 240};
arraySint64 = NULL;
arrayReal32 = {4.0000000000000000e+00, 1.2800000000000000e+02, 2.4000000000000000e+02};
arrayReal64 = {4.0000000000000000e+00, 1.2800000000000000e+02, 2.4000000000000000e+02};
arrayString = {"First", "Second", "Third"};
arrayDateTime = {"19991224120000.000000+360", "19991224120000.000000+360", 
    "19991224120000.000000+360"};
requestInputParameters = "role=; resultRole=; associationClass=Test_CLITestProviderLinkClass; "
    "resultClass=; includeQualifiers=true; includeClassOrigin=false; "
    "propertyList=NULL";
};
1 associator names
//t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id="Mike"
path= //t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id="Mike"

//Instance of Test_CLITestProviderClass
    [Version ("2.5.0") : Restricted, Translatable]
instance of Test_CLITestProviderClass
{
};
path= //t60PUbuntu/test/TestProvider:Test_CLITestProviderClass.Id="Mike"

//Instance of Test_CLITestProviderClass
    [Version ("2.5.0") : Restricted, Translatable]
instance of Test_CLITestProviderClass
{
requestInputParameters = "role=child; resultRole=parent; associationClass=Test_CLITestProviderLinkClass; "
    "resultClass=Test_CLITestProviderClass; includeQualifiers=true; "
    "includeClassOrigin=false; propertyList=requestInputParameters";
};
